.skeleton {
  background-color: $gray-200 !important;
  animation: pulse 1s infinite linear alternate !important;
  color: transparent !important;
  pointer-events: none;
  user-select: none;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
