.bg {
  @include modifier('win') {
    background-color: $teal-500;
  }

  @include modifier('draw') {
    background-color: $gray-400;
  }

  @include modifier('lose') {
    background-color: $red-500;
  }
}

.rounded {
  border-radius: $border-radius;

  @include modifier('sm') {
    border-radius: $border-radius-sm;
  }

  @include modifier('full') {
    border-radius: $border-radius-full;
  }
}

.none-events {
  pointer-events: none;
}
