// Color system
$white: #fff;

$blue-100: #ebefff;
$blue-200: #ced8ff;
$blue-500: #4a6cf7;
$blue-600: #2951f7;

$teal-500: #0ebca7;
$red-500: #f45b69;

$gray-50: #f8fafc;
$gray-200: #e2e8f0;
$gray-300: #cbd5e1;
$gray-400: #94a3b8;
$gray-700: #334155;
$gray-900: #0f172a;

// Spacer
$spacer: 0.5rem;

// Borders
$border-radius: 1rem;
$border-radius-sm: 0.5rem;
$border-radius-full: 100%;
$border-width: 0.0625rem;
$border-color: $gray-300;

// Icons
$icon-size: 1.5rem;
$icon-size-lg: 3rem;

// Font sizes
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 2rem;

// Font weights
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Line heights
$line-height-base: 1.5;
$line-height-headings: 1.2;

// Transition
$transition-base: 0.2s ease-in-out;

// Grid
$grid-breakpoints: (
  xs: 0,
  sm: 575px,
  md: 799px,
  lg: 1280px,
);

$container-max-widths: (
  md: 1140px,
);

$name: xs;
$flexboxgrid-grid-columns: 12;
$flexboxgrid-gutter-width: 8px;
$flexboxgrid-outer-margin: $flexboxgrid-gutter-width * 2 !default;
$gutter-compensation: $flexboxgrid-outer-margin * 0.5 * -1 !default;

// Box shadow
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.04), 0px 2px 20px -8px rgba(0, 0, 0, 0.1);
